.caption {
}
.container {
}
.caption__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: clamp(10px, 0.17rem + 2.27vw, 30px)
    clamp(30px, 1.193rem + 3.41vw, 60px);

  border: 1px solid $colorBlack;
  border-top: unset;
}
.caption__image {
}
.caption__title {
}
.title2 {
}
.title2_caption {
}

@media screen and (max-width: 720px) {
  .caption__image {
    display: none;
  }
}
