.caption {
}
.container {
}
.caption__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px 60px;

  border: 1px solid $colorBlack;
  border-top: unset;
}
.caption__image {
}
.caption__title {
}
.title2 {
}
.title2_caption {
}
