.header {
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px 20px;

  border: 1px solid $colorBlack;
}

.header__button {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 15px 40px;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: rgb(251, 75, 77);
  }
}

.header__button_specific {
  background-color: rgb(251, 75, 77);

  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }
}
.header__item_logotype {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.header__row_mobile {
  display: none;
  position: relative;
  z-index: 200;
}

.header__item_mobile {
  border: 1px solid $colorBlack;
  width: 42px;
  height: 42px;

  button {
    width: 100%;
    padding: 5px;
  }
}

.header__button_mobile {
  width: 30px;
  transform: rotate(-90deg);
}

.openButton {
  animation: openButton 0.3s linear forwards;
}

.closeButton {
  animation: closeButton 0.3s linear forwards;
}

.nav__mobile {
  position: fixed;
  left: 0;
  right: 0;

  z-index: 100;

  height: 100vh;
  transform: translateY(-180%);

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  background-color: $colorWhite;
}

.header__item_nav {
  background-color: unset;
  text-align: center;
}

.header__button_nav {
  width: 100%;
}

.openMobileMenu {
  animation: openMobileMenu 0.3s linear forwards;
}

.closeMobileMenu {
  animation: closeMobileMenu 0.3s linear forwards;
}

@media screen and (max-width: 1100px) {
  .header__row {
    display: none;
  }

  .header__row_mobile {
    display: flex;
  }

  #redCircleLogotype,
  #blueCircleLogotype {
    display: none;
  }
}
