.shop {
}
.container {
}
.shop__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 20px;

  border: 1px solid $colorBlack;
  border-top: unset;
}
.shop__elem {
  position: relative;
}

.shop__elem_text {
  position: absolute;
  left: 0;
  top: 20%;

  display: flex;
  flex-direction: column;
  row-gap: clamp(0rem, -0.318rem + 1.59vw, 14px);

  width: 100%;
  text-align: center;
}

.shop__span {
  font-size: clamp(12px, 0.614rem + 0.68vw, 18px);
  font-weight: 400;
  line-height: 28.08px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.shop__title {
  font-size: clamp(22px, 1.148rem + 1.14vw, 32px);
  font-weight: 400;
  line-height: 38.02px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.shop__elem_image {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;

  img {
    width: unset;
  }
}

@media screen and (max-width: 1400px) {
  .shop__row {
    flex-direction: column;
    row-gap: 30px;
  }
}
