.story {
}
.container {
}
.story__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.story__grid_left {
  display: grid;
  grid-template-rows: 1fr 2fr;

  border: 1px solid #000;
  border-top: unset;
}
.story__grid_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story__grid_title {
  max-width: 530px;
}

.story__grid_right {
  border: 1px solid #000;
  border-top: unset;
  border-left: unset;
}

.story__grid_image {
  position: relative;
}

.story-star {
  width: 30px;
  height: unset;
  position: absolute;
}

.story__star-top {
  left: 50%;
  transform: translateX(-50%);
  top: 8%;
}

.story__star-bottom {
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
}

.story__star-left {
  top: 50%;
  transform: translateY(-50%);
  left: 8%;
}

.story__star-right {
  top: 50%;
  transform: translateY(-50%);
  right: 8%;
}

.story__story {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  row-gap: clamp(10px, -6.25rem + 10vw, 20px);

  font-size: clamp(12px, -0.059rem + 1.18vw, 16px);
  font-weight: 400;
  line-height: clamp(14px, -1.147rem + 2.94vw, 24px);
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.story_image {
  position: absolute;
  // width: unset;
  height: unset;

  width: clamp(3.125rem, 1.648rem + 7.39vw, 7.188rem);
}

.overlay-story {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  transform: translateY(-200px);
}

.story_image-bottleRightFromLeft {
  left: 10%;
  top: 5%;
}

.story_image-bottleRightFromRight {
  right: 10%;
  top: 5%;
}

.story_image-rabitRightFromLeft {
  bottom: 5%;
  left: 10%;
}

.story_image-rabitRightFromRight {
  bottom: 5%;
  right: 10%;
}

@media screen and (max-width: 1100px) {
  .story__grid {
    grid-template-columns: 1fr;
  }

  .story__story {
    row-gap: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .story__grid_right {
    border-left: 1px solid $colorBlack;
  }
}

@media screen and (max-width: 710px) {
  .story__story p:last-child {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .story__story p:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .story__story span {
    display: none;
  }

  .story__story p {
    line-height: clamp(0.875rem, -0.663rem + 7.69vw, 1.5rem);
    font-size: clamp(12px, 0.135rem + 3.08vw, 16px);
  }
}
